@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: poppins, 'Times New Roman', Times, serif;
}

body{
    background-color:#242423 ;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 10vh;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #CFDBD5;
}

.nav h1{
 color: #242423;
}

.heading{
    color: #A5B090;
    padding-left: 2%;
}

.path{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  gap: 50px;
  margin-top: 40px;
}

.circle-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #F5CB5C;
  color: #000;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.circle-btn:hover {
  background-color: #C1A24E;
}

.circle-btn a{
    text-decoration: none;
    color: #1C1C1C;
    font-weight: bold;
}

.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 25px;
  background-color: #F5CB5C;
  color: #000;
  border: none;
  border-radius: 30px; /* Capsule shape */
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
  z-index: 1000; /* Ensure it's on top */
}

.floating-btn:hover {
  background-color: #C1A24E;
  transform: scale(1.05);
}
